<section class="wrapper">
    <article class="input">
        <div>
            <h2>Hole Depth</h2>
            <p class="hole-depth">{{depth}} m</p>
        </div>
    </article>
    <article class="input">
        <h2>Torque</h2>
        <article class="bar">
            <div class="bar-wrapper">
                <img class="bar-content" [style.width]="torqueWidth" />
            </div>
        </article>
    </article>
    <article class="input">
        <h2>Standpipe Pressure</h2>
        <article class="bar">
            <div class="bar-wrapper">
                <img class="bar-content" [style.width]="pressureWidth" />
            </div>

        </article>
    </article>
    <article class="input">
        <h2>Flow</h2>
        <article class="bar">
            <div class="bar-wrapper">
                <img class="bar-content" [style.width]="flowWidth" />
            </div>
        </article>
    </article>

    <article class="input">
        <h2>Rate of Penetration</h2>
        <!--FOR NOW-->
        <article class="bar">
            <div class="bar-wrapper">
                <img class="bar-content" [style.width]="ropWidth" />
            </div>
        </article>
        <!--RATE OF PENETRATION GRAPH GOES HERE-->
    </article>

</section>