<section class="wrapper">
    <section class="filter" [style.order]="-1">
        <h3>Filters</h3>
        <ul class="tabs">
            <li class="tab" [class.tab-active]="isAllTabs" (click)="showAll()">All</li>
            <li class="tab" [class.tab-active]="isSurfaceTab" (click)="showSurface()">Surface</li>
            <li class="tab" [class.tab-active]="isProductionTab" (click)="showProduction()">Production</li>
        </ul>
    </section>

    <section class="input" *ngIf="showRotary" [style.order]="rotaryOrder">
        <h3>ROTARY RPM</h3>
        <section class="bar ">
            <img class="icon " (click)="decrease('rotary')" src="assets/images/minus.png " alt="minus icon ">
            <article class="bar ">
                <img class="bar-content " [style.width]="rotary " />
                <img class="bar-maximum " />
            </article>
            <img class="icon " (click)="increase('rotary')" src="assets/images/plus.png " alt="plus icon ">
        </section>
    </section>
    <section class="input" *ngIf="showWeight" [style.order]="weightOrder">
        <h3>Weight on bit</h3>
        <section class="bar ">
            <img class="icon" (click)="decrease('weight')" src="assets/images/minus.png " alt="minus icon ">
            <article class="bar ">
                <img class="bar-content " [style.width]="weight " />
                <img class="bar-maximum " />
            </article>
            <img class="icon " (click)="increase('weight')" src="assets/images/plus.png " alt="plus icon ">
        </section>
    </section>
    <section class="input" *ngIf="showDiffPressure" [style.order]="pressureOrder">
        <h3>differential pressure</h3>
        <section class="bar ">
            <img class="icon " (click)="decrease('pressure')" src="assets/images/minus.png " alt="minus icon ">
            <article class="bar ">
                <img class="bar-content " [style.width]="diffPressure " />
                <img class="bar-maximum " />
            </article>
            <img class="icon " (click)="increase('pressure')" src="assets/images/plus.png " alt="plus icon ">
        </section>
    </section>
    <section class="input" *ngIf="showPump" [style.order]="pumpOrder">
        <h3>Pump Output</h3>
        <section class="bar ">
            <img class="icon" (click)="decrease('pump')" src="assets/images/minus.png " alt="minus icon ">
            <article class="bar ">
                <img class="bar-content " [style.width]="pumpOutput " />
                <img class="bar-maximum " />
            </article>
            <img class="icon" (click)="increase('pump')" src="assets/images/plus.png " alt="plus icon ">
        </section>
    </section>
</section>