@import '../sass/variables';
@import '../sass/mixins';
//Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
$primary-font: 'Roboto',
sans-serif;
// SIZING VARIABLES
$section-width: 550px;
section.wrapper {
    background-color: white;
    padding: 20px;
    section.filter {
        width: 100%;
        h3 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }
        ul.tabs {
            margin: 0;
            padding: 0;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            li.tab {
                @include transition-basic();
                width: 33%;
                text-transform: uppercase;
                font-size: 17px;
                background-color: white;
                text-align: center;
                padding: 10px;
                border: 1px solid rgb(100, 100, 100);
                &:hover {
                    background-color: rgb(50, 50, 50);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

.tab-wrap {
    background-color: #383838;
    ul {
        width: 80%;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            background-color: #2d2d2d;
            display: inline;
            text-transform: uppercase;
            color: #afafaf;
            font-weight: 300;
            font-size: 15px;
            width: 100%;
            padding: 8px;
            letter-spacing: 1px;
            transition: all 0.8s cubic-bezier(1, 1.13, 0, .03);
        }
        li:hover {
            background-color: #212121;
            color: #FFF;
        }
    }
}


/* Tab overline effect */

.tab-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.tab-hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #ff6200;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.tab-hover:hover:before,
.tab-hover:focus:before,
.tab-hover:active:before {
    right: 0;
}

.input-wrap {
    height: auto;
    width: $section-width;
}

.input {
    border: 1px solid black;
    clear: both;
    height: 150px;
    button {
        background-color: none;
        border: none;
    }
    .bar-name-wrap>* {
        float: left;
    }
    .bar-wrap {
        clear: both;
        .bar-level {
            width: 80%;
            height: 50px;
            background-color: #e1e2e3;
            .current-level {
                background-color: #808285;
                height: inherit;
                width: 30%;
                float: left;
            }
            .danger-level {
                background-color: #C41425;
                height: inherit;
                float: right;
                width: 20%;
            }
        }
    }
    .bar-wrap>* {
        float: left;
    }
}

.clearfix {
    margin: 0;
    height: 0;
    clear: both;
}