$page-margin: 50px;
$white: white;
$grey: rgb(46, 44, 43);
$slightlyTransparentGrey: rgba(46, 44, 43, 0.9);
$veryTransparentGrey: rgba(46, 44, 43, 0.1);
$lightGrey: rgb(152, 153, 153);
$lightOrange: rgb(255, 149, 63);
$mediumOrange: rgb(255, 106, 63);
$darkOrange: rgb(240, 81, 35);
$green: rgb(8, 163, 120);
$lightGreen: rgb(35, 240, 182);