<app-header></app-header>
<div class="background">
	<div class="tab-wrap">
		<ul class="tabs">
            <li class="tab-hover">Tab 1<img class="icon1"></li>
			<li class="tab-hover">Tab 2<img alt="icon" class="icon1"></li>
			<li class="tab-hover">Tab 3<img alt="icon" class="icon1"></li>
			<li class="tab-hover">Tab 4<img alt="icon" class="icon1"></li>
			<li class="tab-hover">Tab 5<img alt="icon" class="icon1"></li>
		</ul>
	</div>
    <div class="container">
	    <div class="container-wrap">
	        <app-drill-img class="drill-img"></app-drill-img>
	        <div class="bars">
            <div class="time-wrap">
        		<p>EST. TIME:</p>
        		<p class="times">times.class</p>
        	</div>
        	<div class="details">

	        	<div class="detail hookload">
	        		<div class="detail-text-wrap">
	        		
	        			<div class="name-wrap">
	        				<h3 class="name" >Hookload</h3>
	        				<img src="#" alt="warning" class="warning">
	        			</div>
	        			<h3 class="value">32%</h3>
	        		</div>


	        		<div class="bar"></div>
	        	</div>
	        	<div class="detail torque">
	        		<div class="detail-text-wrap">
	        		
	        			<div class="name-wrap">
	        				<h3 class="name">Torque</h3>
	        				<img src="#" alt="warning" class="warning">
	        			</div>
	        		
	        			<h3 class="value">60%</h3>
	        		
	        		</div>


	        		<div class="bar"></div>
	        	</div>
	        	<div class="detail pump-pressure">
	        		<div class="detail-text-wrap">
	        		
	        			<div class="name-wrap">
	        				<h3 class="name">Pump Pressure</h3>
	        				<img src="#" alt="warning" class="warning">
	        			</div>
	        		
	        			<h3 class="value">18%</h3>
	        		
	        		</div>


	        		<div class="bar"></div>
	        	</div>
	        	<div class="detail rop">
	        		<div class="detail-text-wrap">
	        		
	        			<div class="name-wrap">
	        				<h3 class="name">ROP</h3>
	        				<img src="#" alt="warning" class="warning">
	        			</div>
	        		
	        			<h3 class="value">68%</h3>
	        		
	        		</div>
	        		<div class="bar"></div>
	        	</div>
	        	<div class="detail npt-detail">
	        		<div class="detail-text-wrap">
	        		
	        			<div class="name-wrap">
	        				<h3 class="name">NPT</h3>
	        				<img src="#" alt="warning" class="warning">
	        			</div>
	        		
	        			<h3 class="value">1:04:31.42</h3>
	        		
	        		</div>
	        		<div class="bar"></div>
	        	</div>
        	</div>	
        </div>
	    </div>
    </div>
</div>
