<app-header></app-header>
<div class="background">
	<div class="tab-wrap">
		<ul class="tabs">
			<li class="tab-hover">Tab 1</li>
			<li class="tab-hover">Tab 2</li>
			<li class="tab-hover">Tab 3</li>
			<li class="tab-hover">Tab 4</li>
			<li class="tab-hover">Tab 5</li>
		</ul>
	</div>
    <div class="container">
        <app-drill-img class="drill-img"></app-drill-img>
        <div class="time-wrap">
        	<p>EST. TIME:</p>
        	<p class="times">times.class</p>
        </div>
        
        <div class="details">
        	<div class="detail">
        		<div class="detail-text-wrap">
        			<h3 class="name">Hookload</h3>
        			<img src="#" alt="warning" class="warning">
        			<h3 class="value">32%</h3>
        		</div>
        		<div class="bar"></div>
        	</div>
        	<div class="detail">
        		<div class="detail-text-wrap">
        			<h3 class="name">thing</h3>
        			<img src="#" alt="warning" class="warning">
        			<h3 class="value">thing</h3>
        		</div>
        		<div class="bar"></div>
        	</div>
        	<div class="detail">
        		<div class="detail-text-wrap">
        			<h3 class="name">thing</h3>
        			<img src="#" alt="warning" class="warning">
        			<h3 class="value">thing</h3>
        		</div>
        		<div class="bar"></div>
        	</div>
        	<div class="detail">
        		<div class="detail-text-wrap">
        			<h3 class="name">thing</h3>
        			<img src="#" alt="warning" class="warning">
        			<h3 class="value">thing</h3>
        		</div>
        		<div class="bar"></div>
        	</div>
        </div>

    </div>
</div>
