//Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$primary-font: 'Roboto', sans-serif;

$info-width: 40%;

$container-wrap: 650px;
$container-children-height: %container-height - 10px;
$solid-border: 1px solid black;
.body {
    font-family: %primary-font;
}

.background {
    background-color: #787878;
    width: 100%;
    height: 100vh;
}

.tab-wrap {
    background-color: #787878;
    ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            background-color: #2d2d2d;
            display: inline;
            text-transform: uppercase;
            color: #afafaf;
            font-weight: 300;
            padding: 14px 8%;
        }
        
        li:active {
            background-color: #212121;
            color: #FFF;
        }
    }
}

/* Tab overline effect */
.tab-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.tab-hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #ff6200;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tab-hover:hover:before, .tab-hover:focus:before, .tab-hover:active:before {
  right: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.62);
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    h3 {
    	font-family: %primary-font;
    }
    height: 750px;
}
.container-wrap{
	margin: 0 auto;
	border: $solid-border;
	width: 90%;
	height: $container-wrap;
}
.container-wrap>*{
	height: $container-wrap;
	margin: 0 auto;
	height: 100%;
	background-color: #aba;
}
.drill-img, .details{
	float: left;
}
.drill-img{
	width: 35%;
}
.bars{
	width:60%;
}
.name-wrap{
	*{
		float:left;
		height: auto;
		margin: 0;
	}
	.warning{
		padding-left:1em;
	}
}
.bars, .value{
	float:right;
	margin:0;
}
.time-wrap>*{
	float: left;
}
.details, .bar{
	clear:both;
}
.detail{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}
.bar{
	background-color: green;
	height: 20px;
	margin-top: 40px;
}
.hookload>.bar{
	width: 32%;
}
.torque>.bar{
	width: 60%;
}
.pump-pressure>.bar{
	width: 18%;
}
.rop>.bar{
	width:68%;
}
.npt-detail>.bar{
	width: 65%;
}