//Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$primary-font: 'Roboto', sans-serif;

$info-width: 40%;
$container-wrap: 650px;
$container-children-height: %container-height - 10px;

$solid-border: 1px solid black;
.body {
    font-family: %primary-font;
}

.background {
    background-color: #787878;
    height: 100%;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.62);
    width: 90%;
    h3 {
    	font-family: %primary-font;
    }
    height: 750px;
}
.container-wrap{
	margin: 0 auto;
	width: 90%;
	height: $container-wrap;
	padding-top: 40px;
}
.container-wrap>*{
	height: $container-wrap;
	height: 100%;

}
.drill-img, .details{
	float: left;
}
.drill-img{
	width: 35%;
	background-color: #aba;
}
.bars{
	width:60%;
}
.bars, .value{
	float:right;
	margin:0;
}
.details{
	width: 80%;
}
.name-wrap{
	*{
		float:left;
		height: auto;
		margin: 0;
	}
	.warning{
		padding-left:1em;
	}
}

.time-wrap>*{
	float: left;
}
.details, .bar{
	clear:both;
}
.detail{
	margin-top: 50px;
}


/* BARS AND THEIR CORRESPONDING VALUES */
.bar{
	background-color: green;
	height: 20px;
	margin-top: 40px;
}

.hookload>.bar{
	width: 32%;
}
.torque>.bar{
	width: 60%;
}
.pump-pressure>.bar{
	width: 18%;
}
.rop>.bar{
	width:68%;
}
.npt-detail>.bar{
	width: 65%;
}